<div class="row product">
    <div class="col-md-12">
        <select ng-model="sortorder" class="selectpicker pull-right">
            <option value="-date">По дате</option>
            <option value="+price">По цене (по убыванию)</option>
            <option value="-price">По цене (по возрастанию)</option>
        </select>
    </div>
</div>
<div class="row" >
    <div class="col-md-3">
        <div class="list-group">
            <a ng-click="selectCategory()" class="list-group-item">Все товары</a>
            <a ng-repeat="item in productsCtrl.categoriesItems" ng-click="selectCategory(item.id)" class="list-group-item">{{item.name}}</a>
        </div>
    </div>
    <div class="col-md-9">
        <div class="row">
            <div ng-repeat="item in productsCtrl.productsItems | orderBy:sortorder | filter:categoryFilterFn" class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <div class="image">
                        <img ng-src="upload/products/{{item.photo}}" onerror="this.src='http://placehold.it/240x200'" class="img-responsive" alt="{{item.name}}" title="{{item.name}}">
                    </div>
                    <div class="caption">{{item.date}}
                        <h3>{{item.name}}</h3>{{item.category_id}}
                        <p class="description">{{item.description}}</p>
                        <p class="price">{{item.price | currency:'руб.':0}}</p>
                        <p><a ng-click="addCart(item)" class="btn btn-primary" role="button">В корзину</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>