body {
    padding-top: 30px;
    padding-bottom: 20px;
}

.main {
    padding: 30px 0;
}
.product {
    padding: 10px 0;
}
.price {
    color: red;
    font-weight:bold;
    font-size:16px;
}
.thumbnail .image {
    padding: 20px 0;
    height: 150px;
}
.thumbnail .image img {
    margin: 0 auto;
    max-height: 100%;
}
a {
    cursor:pointer;
}